{% extends 'inventory/base.html' %}

{% block content %}
        <nav>
            <div class="container">
                <!-- <div class="logo">
                    <h6>Inventory System</h6>
                </div> -->
                <div class="navigation">
                    <a href="">Login</a>
                    <a href="">Register</a>
                </div>
            </div>
        </nav>
        
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="col l12">
                                <div class="input-field">
                                    <i class="material-icons prefix">search</i>
                                    <input id="last_name" type="text" class="validate">
                                    <label for="last_name">Search an item</label>
                                </div>
                        </div>
                        <div class="col l7">
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <div class="result">
                <div class="container">
                        <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>
                                <th>Brand</th>
                                <th>Item Price</th>
                                <th>Item Left</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                
                        <tbody>
                            {% for item in items %}
                            <tr>
                            <td><img class="product-icon circle responsive-img" src="{{item.thumb.url}}" alt=""></td>
                            <td>{{item.products_name}}</td>
                            <td>{{item.brand}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.item_left}}</td>
                            <td><a href="{% url 'detail' slug=item.slug %}"><i class="material-icons prefix edit">create</i></a> <a href="#"><i class="material-icons prefix delete">delete</i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
        
                        
                        </table>
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                </div>
            </div>
        
            <footer>
                <div class="container">
                    <hr>
                    <p>This Web Application is exclusively created to Stuff You Will Love</p>
                </div>
            </footer>

{% endblock %}
